
.DS_Store

module/.DS_Store

AviarySDK/*
module/AviarySDKResources.bundle/*

build/*
aviary-iphone.xcodeproj/xcuserdata/steven.xcuserdatad/xcschemes/aviary-iphone.xcscheme

*.xcscheme

*.xcsettings

build/aviary-iphone.build/Release-iphonesimulator/aviary-iphone.build/aviary-iphone.dep

build/aviary-iphone.build/Release-iphonesimulator/aviary-iphone.build/Objects-normal/i386/ComGhkimAviary_ios.LinkFileList

build/aviary-iphone.build/Release-iphonesimulator/aviary-iphone.build/ComGhkimAviary_ios-own-target-headers.hmap

build/aviary-iphone.build/Release-iphonesimulator/aviary-iphone.build/ComGhkimAviary_ios-generated-files.hmap

build/libcom.ghkim.aviary_ios.a

build/aviary-iphone.build/Release-iphoneos/aviary-iphone.build/build-state.dat

build/aviary-iphone.build/Release-iphonesimulator/aviary-iphone.build/build-state.dat

build/aviary-iphone.build/Release-iphoneos/aviary-iphone.build/aviary-iphone.dep

aviary-iphone.xcodeproj/project.xcworkspace/xcuserdata/steven.xcuserdatad/UserInterfaceState.xcuserstate

aviary-iphone.xcodeproj/project.xcworkspace/xcuserdata/steven.xcuserdatad/UserInterfaceState.xcuserstate

